* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Cabin", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 51px;
  background-color: #867ae9;
}

.logo {
  display: flex;
  align-items: baseline;
  display: row;
  max-height: 64px;
  padding-bottom: 5px;
}
.logo img {
  width: auto;
  height: 25px;
  margin-right: 1px;
  margin-top: 0px;
}
.logo h1 {
  font-family: "Cabin", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  color: white;
}

.navbar {
  margin-right: 10px;
  padding-bottom: 5px;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-left: 54px;
  font-weight: 400;
}
.navbar a:hover {
  text-decoration: underline;
  line-height: 1px;
  transform: scale(1.1);
}

main {
  display: flex;
}

.aside01 {
  display: flex;
  flex-direction: column;
  margin: 26px 50px 0 0;
  width: 300px;
}
.aside01 div {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-left: 57px;
}
.aside01 img {
  width: 12px;
  height: 12px;
}
.aside01 p {
  margin-left: 10px;
}
.aside01 p a {
  text-decoration: none;
  display: block;
}
.aside01 p a:hover {
  text-decoration: underline;
  transform: scale(1.05);
  color: #867ae9;
}

.user-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.article {
  width: 970px;
  margin: 42px 30px 0 0;
}
.article .publication01 {
  width: 970px;
  height: 896px;
  background-color: white;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  margin-bottom: 30px;
}
.article .publication01 .top-publication {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
}
.article .publication01 .top-publication .user-img {
  margin-right: 25px;
  margin-left: 15px;
}
.article .publication01 .top-publication .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.article .publication01 .top-publication .user_time a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.article .publication01 .top-publication .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.article .publication01 .top-publication .user_time p {
  margin: 0;
}
.article .publication01 .post-img {
  width: 100%;
  height: auto;
  border: 0.5px solid #DBDBDB;
  border-radius: 2px;
}
.article .commentaire {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
  padding: 0 11px 0 15px;
  line-height: 21.33px;
  color: rgba(0, 0, 0, 0.6);
}
.article .likeorcomment {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background: #dbdbdb4b;
  border: 1px solid #DBDBDB;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 37px;
  color: #DBDBDB;
  font-size: 12px;
}
.article .likeorcomment div {
  display: flex;
  align-items: baseline;
  margin: 0 15px 0 15px;
}
.article .likeorcomment div a {
  display: block;
  text-decoration: none;
}
.article .likeorcomment div a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.article .likeorcomment .comment {
  display: flex;
  align-items: center;
}
.article .likeorcomment .like {
  display: flex;
  align-items: center;
}
.article .likeorcomment img {
  margin-right: 15px;
}
.article .likeorcomment img:hover {
  filter: drop-shadow(0 0 0.75rem #867ae9);
}
.article .likeorcomment .likeitems {
  width: 20px;
  height: 18px;
}
.article .likeorcomment .commentitems {
  width: 18px;
  height: 17px;
}

.article .publication02 {
  width: 970px;
  height: 290px;
  background-color: white;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  margin-bottom: 30px;
}
.article .publication02 .top-publication {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
}
.article .publication02 .top-publication .user-img {
  margin-right: 25px;
  margin-left: 15px;
}
.article .publication02 .top-publication .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.article .publication02 .top-publication .user_time a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.article .publication02 .top-publication .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.article .publication02 .top-publication .user_time p {
  margin: 0;
}
.article .commentaire {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
  padding: 0 11px 0 15px;
  line-height: 21.33px;
  color: rgba(0, 0, 0, 0.6);
}
.article .likeorcomment {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background: #dbdbdb4b;
  border: 1px solid #DBDBDB;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 37px;
  color: #DBDBDB;
  font-size: 12px;
}
.article .likeorcomment div {
  display: flex;
  align-items: baseline;
  margin: 0 15px 0 15px;
}
.article .likeorcomment div a {
  display: block;
  text-decoration: none;
}
.article .likeorcomment div a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.article .likeorcomment .comment {
  display: flex;
  align-items: center;
}
.article .likeorcomment .like {
  display: flex;
  align-items: center;
}
.article .likeorcomment img {
  margin-right: 15px;
}
.article .likeorcomment img:hover {
  filter: drop-shadow(0 0 0.75rem #867ae9);
}
.article .likeorcomment .likeitems {
  width: 20px;
  height: 18px;
}
.article .likeorcomment .commentitems {
  width: 18px;
  height: 17px;
}

.article {
  width: 970px;
  margin: 42px 30px 0 0;
}
.article .publication03 {
  width: 970px;
  height: 937px;
  background-color: white;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  margin-bottom: 30px;
}
.article .publication03 .top-publication {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
}
.article .publication03 .top-publication .user-img {
  margin-right: 25px;
  margin-left: 15px;
}
.article .publication03 .top-publication .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.article .publication03 .top-publication .user_time a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.article .publication03 .top-publication .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.article .publication03 .top-publication .user_time p {
  margin: 0;
}
.article .publication03 .post-img {
  width: 100%;
  height: auto;
  border: 0.5px solid #DBDBDB;
  border-radius: 2px;
}
.article .commentaire {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
  padding: 0 11px 0 15px;
  line-height: 21.33px;
  color: rgba(0, 0, 0, 0.6);
}
.article .likeorcomment {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background: #dbdbdb4b;
  border: 1px solid #DBDBDB;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 37px;
  color: #DBDBDB;
  font-size: 12px;
}
.article .likeorcomment div {
  display: flex;
  align-items: baseline;
  margin: 0 15px 0 15px;
}
.article .likeorcomment div a {
  display: block;
  text-decoration: none;
}
.article .likeorcomment div a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.article .likeorcomment .comment {
  display: flex;
  align-items: center;
}
.article .likeorcomment .like {
  display: flex;
  align-items: center;
}
.article .likeorcomment img {
  margin-right: 15px;
}
.article .likeorcomment img:hover {
  filter: drop-shadow(0 0 0.75rem #867ae9);
}
.article .likeorcomment .likeitems {
  width: 20px;
  height: 18px;
}
.article .likeorcomment .commentitems {
  width: 18px;
  height: 17px;
}

.article {
  width: 970px;
  margin: 42px 50px 0 0;
}

.aside02 {
  margin: 42px 0 0 0;
  width: 530px;
}
.aside02 h2 {
  margin: 0 0 30px 0;
  width: 130px;
  padding: 5px 0px;
  text-align: center;
  background-color: white;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
}
.aside02 .publication04 {
  width: 450px;
  height: 373px;
  background-color: white;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  margin-bottom: 30px;
}
.aside02 .publication04 .top-publication {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
}
.aside02 .publication04 .top-publication .user-img {
  margin-right: 25px;
  margin-left: 15px;
}
.aside02 .publication04 .top-publication .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.aside02 .publication04 .top-publication .user_time a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.aside02 .publication04 .top-publication .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.aside02 .publication04 .top-publication .user_time p {
  margin: 0;
}
.aside02 .commentaire {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
  padding: 0 11px 0 15px;
  line-height: 21.33px;
  color: rgba(0, 0, 0, 0.6);
}
.aside02 .likeorcomment {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background: #dbdbdb4b;
  border: 1px solid #DBDBDB;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 37px;
  color: #DBDBDB;
  font-size: 12px;
}
.aside02 .likeorcomment div {
  display: flex;
  align-items: baseline;
  margin: 0 15px 0 15px;
}
.aside02 .likeorcomment div a {
  display: block;
  text-decoration: none;
}
.aside02 .likeorcomment div a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.aside02 .likeorcomment .comment {
  display: flex;
  align-items: center;
}
.aside02 .likeorcomment .like {
  display: flex;
  align-items: center;
}
.aside02 .likeorcomment img {
  margin-right: 15px;
}
.aside02 .likeorcomment img:hover {
  filter: drop-shadow(0 0 0.75rem #867ae9);
}
.aside02 .likeorcomment .likeitems {
  width: 20px;
  height: 18px;
}
.aside02 .likeorcomment .commentitems {
  width: 18px;
  height: 17px;
}

.aside02 .suggestion {
  display: block;
}
.aside02 .suggestion h3 {
  margin: 100px 0 30px 0;
  width: 150px;
  font-size: 18px;
}
.aside02 .suggestion hr {
  height: 2px;
  background-color: black;
}
.aside02 .user-suggestion1 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.aside02 .user-suggestion1 .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.aside02 .user-suggestion1 .user_time a {
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.aside02 .user-suggestion1 .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.aside02 .user-suggestion1 .user_time:nth-child(2) {
  font-size: 15px;
}
.aside02 .user-suggestion1 .user_add a {
  font-size: 15px;
}
.aside02 .user-suggestion2 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.aside02 .user-suggestion2 .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.aside02 .user-suggestion2 .user_time a {
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.aside02 .user-suggestion2 .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.aside02 .user-suggestion2 .user_time:nth-child(2) {
  font-size: 15px;
}
.aside02 .user-suggestion2 .user_add a {
  font-size: 15px;
}
.aside02 .user-suggestion3 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.aside02 .user-suggestion3 .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.aside02 .user-suggestion3 .user_time a {
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.aside02 .user-suggestion3 .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.aside02 .user-suggestion3 .user_time:nth-child(2) {
  font-size: 15px;
}
.aside02 .user-suggestion3 .user_add a {
  font-size: 15px;
}
.aside02 .user-suggestion4 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.aside02 .user-suggestion4 .user_time {
  font-size: 12px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.aside02 .user-suggestion4 .user_time a {
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  margin-bottom: 5px;
}
.aside02 .user-suggestion4 .user_time a:hover {
  color: #867ae9;
  text-decoration: underline;
}
.aside02 .user-suggestion4 .user_time:nth-child(2) {
  font-size: 15px;
}
.aside02 .user-suggestion4 .user_add a {
  font-size: 15px;
}

.user-img-suggestion {
  border-radius: 5px;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
